<mat-toolbar>
    <span>SCC4</span>

    <button mat-button type="button" routerLink="/remetente" >Remetente</button>
    <button mat-button type="button" routerLink="/import-destinatario" >Importar Destinatários</button>
    <button mat-button type="button" routerLink="/enviar-mensagem" >Enviar Mensagem</button>
</mat-toolbar>

<router-outlet></router-outlet>